/* mixins */
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;500&display=swap");
/* variables */
/* null style */
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

header, nav, aside, footer {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  min-width: 320px;
  line-height: 1;
  font-size: 42px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

body, input, button, textarea {
  font-family: "Mukta"; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/* ui (js styles) */
/* imageAsBackground */
.imageAsBackground {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .imageAsBackground img {
    display: none; }

/* slick-slider */
.slick-slider {
  position: relative; }
  .slick-slider .slick-track {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0; }
  .slick-slider .slick-list {
    overflow: hidden; }

/* wrapper */
.wrapper {
  overflow: hidden;
  min-height: 100%; }

/* container */
.container {
  max-width: 1130px;
  padding: 0px 15px; }

/*
*
* do new style 
*
*/
/* common */
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

/* main-screen */
.main-screen {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  position: relative;
  background-color: #0F4A82; }
  .main-screen__title {
    position: absolute;
    top: 35%;
    font-size: 64px;
    line-height: 1.1;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    z-index: 2; }
    .main-screen__title span {
      -webkit-transition: 200ms;
      -o-transition: 200ms;
      transition: 200ms;
      background-color: #2C7BC6;
      -webkit-box-shadow: inset 3px 4px 5px rgba(0, 0, 0, 0.2);
      box-shadow: inset 3px 4px 5px rgba(0, 0, 0, 0.2);
      padding: 0px 60px 3px 60px;
      font-size: 62px;
      line-height: 2;
      border-radius: 70px; }
      .main-screen__title span:hover {
        -webkit-transition: 300ms;
        -o-transition: 300ms;
        transition: 300ms;
        cursor: pointer;
        background-color: #9551bd; }
      .main-screen__title span:active {
        -webkit-transition: 100ms;
        -o-transition: 100ms;
        transition: 100ms;
        background-color: #0F4A82; }
  .main-screen__circle {
    background-image: -webkit-gradient(linear, left top, right bottom, from(#6EC3D6), to(#64146b));
    background-image: -webkit-linear-gradient(top left, #6EC3D6, #64146b);
    background-image: -o-linear-gradient(top left, #6EC3D6, #64146b);
    background-image: linear-gradient(to bottom right, #6EC3D6, #64146b);
    opacity: 0.2;
    position: absolute;
    border-radius: 50%;
    z-index: 1; }
    .main-screen__circle_large {
      top: 18%;
      left: 11%;
      width: 360px;
      height: 360px; }
    .main-screen__circle_middle {
      top: 67%;
      left: 56%;
      width: 180px;
      height: 180px; }
    .main-screen__circle_small {
      top: 10%;
      left: 73%;
      width: 120px;
      height: 120px; }

/* about-me */
.about-me {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  position: relative;
  background-color: #4a96dd; }
  .about-me__line-1 {
    position: absolute;
    width: 100%;
    top: -77px;
    z-index: 1; }
  .about-me__line-2 {
    position: absolute;
    width: 100%;
    top: 97%;
    z-index: 1; }
  .about-me__cloud {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 17%;
    left: 24%;
    z-index: 2; }
    .about-me__cloud p {
      width: 90%;
      position: absolute;
      text-align: center;
      font-size: 40px;
      font-weight: 500;
      color: #0F4A82;
      z-index: 3; }
  .about-me__photo-box {
    -webkit-transition: 150ms;
    -o-transition: 150ms;
    transition: 150ms;
    position: absolute;
    width: 420px;
    height: 420px;
    border-radius: 50%;
    left: 52%;
    top: 46%; }

/* prices */
.prices {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4a96dd), to(#3683ca));
  background-image: -webkit-linear-gradient(top, #4a96dd, #3683ca);
  background-image: -o-linear-gradient(top, #4a96dd, #3683ca);
  background-image: linear-gradient(to bottom, #4a96dd, #3683ca);
  color: #FFFFFF; }
  .prices__form {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 60px 56px 70px 56px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4a96dd), to(#3683ca));
    background-image: -webkit-linear-gradient(top, #4a96dd, #3683ca);
    background-image: -o-linear-gradient(top, #4a96dd, #3683ca);
    background-image: linear-gradient(to bottom, #4a96dd, #3683ca);
    border-radius: 15px;
    -webkit-box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.25);
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.25); }
    .prices__form h2 {
      font-size: 47px;
      margin-bottom: 30px;
      text-align: center; }
      .prices__form h2 span {
        font-size: 68px; }
    .prices__form button {
      font-size: 38px;
      padding: 8px 44px 10px 44px;
      -webkit-box-shadow: inset 3px 4px 5px rgba(0, 0, 0, 0.2);
      box-shadow: inset 3px 4px 5px rgba(0, 0, 0, 0.2);
      border-radius: 40px;
      color: #FFFFFF;
      margin-bottom: 34px; }
    .prices__form ul li {
      font-size: 40px;
      list-style-type: disc;
      margin-bottom: 11px; }
    .prices__form_standart {
      margin-right: 120px; }
      .prices__form_standart button {
        background: #2C7BC6; }
    .prices__form_premium button {
      background: #0F4A82; }

/* contacts */
.contacts {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  position: relative;
  background-color: #FFFFFF; }
