/* imageAsBackground */
.imageAsBackground {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .imageAsBackground img {
    display: none; }

/* slick-slider */
/*
.slick-slider {
    position: relative;
    .slick-track, .slick-list {  }
    .slick-track {
        @include flexbox();
    }
    .slick-list {
        overflow: hidden;
    }
    .slick-slide {  }
    .slick-dots {
        li {
            button {  }
            &.slick-active {
                button {  }
            }
        }
    }
}
*/
/* */
