.contacts {
    flex: 1 0 100%; // maximize minimize default size
    @include flexbox();
    flex-direction: column;
    position: relative;
    background-color: #e7f3ff;
    align-items: center;
    padding: 160px 0px 80px 0px;
    overflow: auto;
    @media screen and (max-width: 1100px) {
        padding: 110px 0px 80px 0px;
    }
    @media screen and (max-width: 820px) {
        padding: 80px 0px 80px 0px;
    }
    @media screen and (max-width: 340px) {
        padding: 40px 0px 80px 0px;  
    }
    &__title {
        text-align: center;
        font-size: 44px;
        color: #0F4A82;
        margin-bottom: 70px;
        @media screen and (max-width: 1100px) {
            font-size: 40px;
            margin-bottom: 60px;
        }
        @media screen and (max-width: 820px) {
            font-size: 36px;
            margin-bottom: 52px;
            
        }
        @media screen and (max-width: 340px) {
            font-size: 32px;
            margin-bottom: 50px;
        }
    }

    &__contact {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0px;
        }
    }
}
.contact {
    @include flexbox();
    transition: 70ms;
    align-items: center;
    background-image: linear-gradient(to bottom, #FFFFFF, #eef6ff);
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.14);
    border-radius: 15px;
    width: 90%;
    max-width: 380px;
    padding: 5px 22px;
    transform: scale(0.1);
    @media screen and (max-width: 1100px) {
        padding: 5px 22px;
    }
    @media screen and (max-width: 820px) {
        padding: 1px 17px;
    }
    @media screen and (max-width: 340px) {
        padding: 0px 14px;
    }
    &.element-show {
        transition: all 700ms;
        transform: scale(1);
    }
    object {
        margin-right: 11px;
        @media screen and (max-width: 1100px) {
            margin-right: 9px;
            transform: scale(0.9);
        }
        @media screen and (max-width: 820px) {
            margin-right: 6px;
            transform: scale(0.8);
        }
        @media screen and (max-width: 340px) {
            margin-right: 4px;
            transform: scale(0.7);
        }
    }
    p {
        font-size: 32px;
        color: #0F4A82;
        @media screen and (max-width: 1100px) {
            font-size: 30px;
        }
        @media screen and (max-width: 820px) {
            font-size: 27px;
        }
        @media screen and (max-width: 340px) {
            font-size: 24px;
        }
    }
    &:hover {
        transition: 100ms;
        transform: scale(1.02);
    }
    &:active {
        transition: 50ms;
        transform: scale(0.9);
        box-shadow: inset 1px 3px 3px rgba(0, 0, 0, 0.14);
        background-image: linear-gradient(to bottom, #e2f0ff, #dcebfd);
    }
}
