.footer {
    text-align: center;
    position: relative;
    top: -70px;
    width: 100%;
    padding: 15px;
    z-index: 1;
    &__copyright {
        text-align: center;
        font-size: 22px;
        color: #4a96dd;
    }
}
