
/* mixins */

@import "mixins.scss";


/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500&display=swap');


/* default font */

$defaultFont: "Mukta";
$defaultFontSize: 42px;


/* other variables */

$minWidth: 320px;


/* null style */

@import "null.scss";


/* wrapper */

.wrapper {
    overflow: hidden;
    min-height: 100%;
}

/* container */

.container {
    max-width: 1130px;
    padding: 0px 15px;
}

/* */



/* do new style */
